{% extends 'correspondence/main_template.html' %}
{% load static %}
{% block content %}

<style type="text/css" scoped>

.inicio {
    background-color: #e9c46a !important;
    border-radius: 50% !important;
    min-width: 80px !important;
    width: 80px !important;
}

.fin {
    background-color: #e9c46a !important;
    border-radius: 50% !important;
    min-width: 80px !important;
    width: 80px !important;
}
.asignar {
    background-color: rgba(177, 191, 250, 1) !important;
    min-width: 140px !important;
    width: 140px !important;
}

.notificar {
    background-color: #95d5b2 !important;
    border: 2px solid #658542 !important;
    min-width: 140px !important;
    width: 140px !important;
}

.selected {
    border-color: #e3c000 !important;
}

.node {
  border-radius: 30%;
  cursor: pointer;
  height: auto;
  padding-bottom: 6px;
  box-sizing: content-box;
  position: relative;
  user-select: none;
}

.selectpicker {
    width: 100px !important;
}

.rete {
    height: 430px;
    padding: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.userinput {
    width: 105px !important;
}

#id-graph-alert {
    color: red;
}

</style>

<div class="card mb-4">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="{% url 'workflow:signature' radicate=radicate %}" autocomplete="off">

            {% csrf_token %}

            <input id="id-graph" name="graph" type="hidden" value="">
            <input id="id-id" name="id" type="hidden" value="{{ id }}">
            <input id="id-next" name="next" type="hidden" value="{{ next }}">

            <div class="rete">

                {% if messages %}
                    {% for message in messages %}
                        <div id="id-graph-alert">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}

                <div id="rete"></div>
            </div>

            <input type="submit" name="button" class="btn btn-success mt-3" value="Guardar">
        </form>
    </div>
</div>

<div class="modal fade" id="user_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-m" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Búsqueda de Usuario
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                <div class="col-12" id="file-display-field">
                    {% include "workflow/select_user.html" %} 
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="users_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-m" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Búsqueda de Usuarios
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                <div class="col-12" id="file-display-field">
                    {% include "workflow/select_users.html" %} 
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/vue/dist/vue.min.js' %}"></script>
<script src="{% static 'node_modules/rete/build/rete.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
<script src="{% static 'node_modules/rete-connection-plugin/build/connection-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-context-menu-plugin/build/context-menu-plugin.common.js' %}"></script>
<script src="{% static 'node_modules/rete-context-menu-plugin/build/context-menu-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-vue-render-plugin/build/vue-render-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-comment-plugin/build/comment-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-keyboard-plugin/build/keyboard-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-area-plugin/build/area-plugin.min.js' %}"></script>

{{ graph|json_script:"graph" }}

<script>

var graph = JSON.parse(document.getElementById('graph').textContent);
var actSocket = new Rete.Socket("Action");
var mounted = false;

function validateUser() {
    if ($("#user_selected").val() != '-1' && 
        $("#user_selected").val() != null) {
        $('#user_selected_submit').prop('disabled', false);
    } else {
        $('#user_selected_submit').prop('disabled', true);
    }
}

function getVueAssignUserControl(key, userType, user, time, permission) {
    return {
        props: ['emitter', 'ikey', 'getData', 'putData', ],
        template: `<input id="${key}_selected" class="userinput" readonly=true v-on:click="showModal($event)" \
                :value=username data-toggle="tooltip" data-placement="top" \
                :title=title />`
        ,
        data() {
            if (!time){
                time = 2;
            }
            return {
                value: user.id,
                username: user.username,
                user: user,
                title: `[${user.username}] ${user.first_name} ${user.last_name}`,
                time: time,
                permission: permission
            }
        },
        methods: {
            addUser(){
                $('#user_selected_submit').prop('disabled', false);
            },
            showModal(e){
                permissions = [this.permission]
                $('#user_selected').find('option').remove().end();
                $("#user_selected").append('<option value=-1>[sin usurio] seleccione un usuario</option>')
                if (this.value) {
                    $("#user_selected").append(
                        `<option selected value=${this.value}>${this.title}</option>`)
                }
                $("#user_selected").selectpicker('refresh');
                $('#user_selected').selectpicker('render');
                $('#user_selected_submit').prop('disabled', true);
                self = this;
                $('#user_selected_submit').click(function(){ 
                    self.value = $('#user_selected').val();
                    self.title = $('#user_selected').find("option:selected").text()
                    self.username = self.title.match(/\[(.*)\]/i)[1];
                    $('.collapse').collapse('hide')
                    $("#headerForm").text('')
                    $('#user_modal').modal('hide')
                    self.time = $('#user_selected_time').val()
                    self.update();
                });
                $('#user_selected').change(function(){ 
                    self.addUser()
                });
                $('#user_modal').modal()
            },
            update() {
                if (this.ikey)
                    this.putData('user', {'id': this.value})
                    this.putData('time', this.time)
                this.emitter.trigger('process');
            }
        }
    }
}

function getVueNotifyUserControl(key, userType, user, time, permission) {
    return {
        props: ['emitter', 'ikey', 'getData', 'putData', ],
        template: `<input id="${key}_selected" class="userinput" readonly=true v-on:click="showModal($event)" \
                :value=username data-toggle="tooltip" data-placement="top" \
                :title=title />`
        ,
        data() {
            if (!time){
                time = 2;
            }
            return {
                value: user.id,
                username: user.username,
                user: user,
                title: `[${user.username}] ${user.first_name} ${user.last_name}`,
                time: time,
                permission: permission,
                users: {}
            }
        },
        methods: {
             addUser(value, title, initialize=false) {
                if (!initialize) {
                    if  (value in this.users &&  value != '-1') {
                        return
                    }
                    this.users[value] = title
                }
                $('#tbody').append(
                    `<tr id="${value}">
                        <td class="row-index">
                            <p>${title}</p>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-sm btn-danger remove"
                            type="button"><i class="fas fa-minus-circle"></i></button>
                        </td>
                    </tr>`);

                if (!jQuery.isEmptyObject(self.users)) {
                    $('#users_selected_submit').prop('disabled', false);
                }
            },
            showModal(e){

                permissions = [this.permission]
                $('#users_selected').find('option').remove().end();
                $("#users_selected").append('<option value=-1>[sin usurio] seleccione un usuario</option>')
                if (this.value) {
                    $("#users_selected").append(
                        `<option selected value=${this.value}>${this.title}</option>`)
                }
                $("#users_selected").selectpicker('refresh');
                $('#users_selected').selectpicker('render');
                $('#users_selected_time').val(this.time)
                $('#users_selected_submit').prop('disabled', true);

                self = this;

                $('#tbody').find('tr').remove().end();;

                $.each(this.users, function(key, value) { 
                    console.info('addUser')
                    self.addUser(key, value, true)
                });

                $('#tbody').on('click', '.remove', function () {
                    delete self.users[$(this).closest('tr').attr('id')]
                    $(this).closest('tr').remove();
                    if (jQuery.isEmptyObject(self.users)) {
                        $('#users_selected_submit').prop('disabled', true);
                    }
                });

                $('#users_selected_submit').click(function(){ 
                    self.title = ''
                    self.username = ''
                    self.value = []
                    $.each(self.users, function(key, value) { 
                        console.info(key)
                        self.title += $('#users_selected').find("option:selected").text() + '; ';
                        self.username += self.title.match(/\[(.*)\]/i)[1] + '; '
                        self.value.push({'id': key})
                    });
                    $('.collapse').collapse('hide')
                    $("#headerForm").text('')
                    $('#users_modal').modal('hide')
                    self.time = $('#user_selected_time').val()
                    self.update();
                });

                $('#users_selected').change(function(){ 
                    value = $('#users_selected').val();
                    title = $('#users_selected').find("option:selected").text()
                    self.addUser(value, title)
                });
                $('#users_modal').modal()
            },
            update() {
                if (this.ikey)
                    this.putData('user', {'id': this.value})
                    this.putData('time', this.time)
                this.emitter.trigger('process');
            }
        }
    }
}

class AssignUserControl extends Rete.Control {
    constructor(emitter, key, userType, user, time, permission) {
        if ($.isEmptyObject(user)) {
            user = {
                'id': null, 
                'username': 'sin usuario', 
                'first_name': 'seleccione un usuario', 
                'last_name': ''
            }
        } 
        super(key);
        this.component = getVueAssignUserControl(key, userType, user, time, permission);
        this.props = {emitter, ikey: 'data'};
    }
}

class NotifyUserControl extends Rete.Control {
    constructor(emitter, key, userType, user, time, permission) {
        if ($.isEmptyObject(user)) {
            user = {
                'id': null, 
                'username': 'sin usuario', 
                'first_name': 'seleccione un usuario', 
                'last_name': ''
            }
        } 
        super(key);
        this.component = getVueNotifyUserControl(key, userType, user, time, permission);
        this.props = {emitter, ikey: 'data'};
    }
}

class InputComponent extends Rete.Component {
    constructor(){
        super("Inicio");
    }
    builder(node) {
        var out = new Rete.Output('out', "Inicio", actSocket, true);
        return node.addOutput(out);
    }
    worker(node, inputs, outputs) {
    }
}

class OutputComponent extends Rete.Component {
    constructor(){
        super("Fin");
    }
    builder(node) {
        var inp = new Rete.Input('in', "Fin", actSocket, true);
        return node.addInput(inp);
    }
    worker(node, inputs, outputs) {
    }
}

class AssignUserComponent extends Rete.Component {
    constructor(){
        super("Asignar"); 
    }
    builder(node) {
        var ctrl = new AssignUserControl(this.editor, node.id, 'assignuser', node.data.user, node.data.time, 'receive_external');
        var inp = new Rete.Input('in',"Inicio", actSocket, true);
        var out = new Rete.Output('out', "Fin", actSocket, true);
        return node
            .addInput(inp)
            .addControl(ctrl)
            .addOutput(out);
    }
    worker(node, inputs, outputs) {
    }
}

class NotifyUserComponent extends Rete.Component {
    constructor(){
        super("Notificar"); 
    }
    builder(node) {
        var ctrl = new NotifyUserControl(this.editor, node.id, 'notifyuser', node.data.user, node.data.time, 'notified');
        var inp = new Rete.Input('in',"Inicio", actSocket, true);
        var out = new Rete.Output('out', "Fin", actSocket, true);
        return node
            .addInput(inp)
            .addControl(ctrl)
            .addOutput(out);
    }

    worker(node, inputs, outputs) {
        var value = inputs['in'].length ? inputs['in'][0] : node.data.value;
        outputs['value'] = value;
    }
}

var container = document.querySelector('#rete');
var components = [new AssignUserComponent(), new NotifyUserComponent(),
                  new InputComponent(), new OutputComponent()];

var editor = new Rete.NodeEditor('demo@0.1.0', container);
editor.use(ConnectionPlugin.default);
editor.use(VueRenderPlugin.default);   
editor.use(ContextMenuPlugin.default, {
    searchBar: false,
});
editor.use(AreaPlugin);
editor.use(CommentPlugin.default);
editor.use(KeyboardPlugin);

var engine = new Rete.Engine('demo@0.1.0');


components.map(c => {
    editor.register(c);
    engine.register(c);
});

editor.on('connectioncreate connectionremove nodecreate noderemove process', ()=>{
    compile();
    if (mounted) {
        $('#id-graph-alert').html('');
    }
});

async function compile() {
    await engine.abort();
    await engine.process(editor.toJSON());
    $('#id-graph').val(JSON.stringify(editor.toJSON()));
}

editor.fromJSON(graph).then(() => {
    editor.view.resize();
    compile();
    mounted = true;    
});

editor.on('zoom', (e) => {
  let k = e.transform.k; 
  if (e.zoom > k) { 
    e.zoom = k + 0.02;
  } else if (e.zoom < k) {
    e.zoom = k - 0.02;
  }
  e.zoom = +e.zoom.toFixed(2);
  return e.source !== 'dblclick'; 
});

</script>

{% endblock %}

