{% load static %}

<style type="text/css" scoped>


.inicio {
    background-color: #e9c46a !important;
    border-radius: 50% !important;
    min-width: 80px !important;
    width: 80px !important;
}

.fin {
    background-color: #e9c46a !important;
    border-radius: 50% !important;
    min-width: 80px !important;
    width: 80px !important;
}
.asignado {
    background-color: rgba(177, 191, 250, 0.8) !important;
    min-width: 135px !important;
    width: 135px !important;
}

.notificado {
    background-color: #95d5b2 !important;
    border: 2px solid #658542 !important;
    min-width: 135px !important;
    width: 135px !important;
}


.node {
  border-radius: 30%;
  cursor: pointer;
  height: auto;
  padding-bottom: 6px;
  box-sizing: content-box;
  position: relative;
  user-select: none;
}

.selectpicker {
    width: 100px !important;
}

#rete {
    height: 400px;
    width: 1000px;
    overflow-x: scroll
}

</style>

<input id="id-graph" name="graph" type="hidden" value="">
<input id="id-{{ widget.name }}" name="{{ widget.name }}" type="hidden" value="{{ widget.value }}">

{% if widget.value == '' %}
    <h2>Primero defina un nombre y guarde para continuar con la edición del flujo del proceso a definir</h2>
{% else %}

<div id="rete"></div>

<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/vue/dist/vue.min.js' %}"></script>
<script src="{% static 'node_modules/rete/build/rete.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
<script src="{% static 'node_modules/rete-connection-plugin/build/connection-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-context-menu-plugin/build/context-menu-plugin.common.js' %}"></script>
<script src="{% static 'node_modules/rete-context-menu-plugin/build/context-menu-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-vue-render-plugin/build/vue-render-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-comment-plugin/build/comment-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-keyboard-plugin/build/keyboard-plugin.min.js' %}"></script>
<script src="{% static 'node_modules/rete-area-plugin/build/area-plugin.min.js' %}"></script>

{{ widget.graph|json_script:"graph" }}

<script>

var graph = JSON.parse(document.getElementById('graph').textContent);

var actSocket = new Rete.Socket("Action");

function searchUsers(filter, id, userType, currentUser) {
  $.ajax({
        type: 'GET',
        url: "{% url 'signature_flow_users' %}",
        data: {"filter": filter, 'usertype': userType},
        success: function (response) {
            $(`#${id}_selected`)
                .find('option')
                .remove()
                .end();
            $(`#${id}_selected`).append('<option value=-1>Ninguno seleccionado</option>')
            response.forEach(function (value) {
            $(`#${id}_selected`)
                .append(`<option value=${value.pk} ${currentUser==value.pk?'selected':''}> [ ${value.username} ] ${value.first_name} ${value.last_name} </option>`)
            });
        },
        error: function (response) {
            console.log(response)
        }
    })
}

function getVueUserControl(key, userType) {
    return {
        props: ['emitter', 'ikey', 'getData', 'putData'],
        template: `<select name="user_selected" data-live-search="true" data-live-search-style="startsWith" \
                :value="value" @input="change($event)" @dblclick.stop="" @pointerdown.stop="" \
                class="selectpicker" id="${key}_selected"></select>
                `,
        data() {
            return {
                value: 0
            }
        },
        methods: {
            change(e){
                this.value = e.target.value;
                this.update();
            },
            update() {
            if (this.ikey)
                this.putData(this.ikey, this.value)
            this.emitter.trigger('process');
            }
        },
        mounted() {
            this.value = this.getData(this.ikey);
            searchUsers(null, key, userType, this.value)
        }
    }
}

class UserControl extends Rete.Control {
    constructor(emitter, key, userType, user_id) {
        super(key);
        this.component = getVueUserControl(key, userType, user_id);
        this.props = {emitter, ikey: 'user_id'};
    }
}

class InputComponent extends Rete.Component {
    constructor(){
        super("Inicio");
    }
    builder(node) {
        var out = new Rete.Output('out', "Inicio", actSocket, true);
        return node.addOutput(out);
    }
    worker(node, inputs, outputs) {
    }
}

class OutputComponent extends Rete.Component {
    constructor(){
        super("Fin");
    }
    builder(node) {
        var inp = new Rete.Input('in', "Fin", actSocket, true);
        return node.addInput(inp);
    }
    worker(node, inputs, outputs) {
    }
}

class GuarantorUserComponent extends Rete.Component {
    constructor(){
        super("Asignado");
    }
    builder(node) {
        var ctrl = new UserControl(this.editor, node.id, 'guarantoruser', node.data.user_id);
        var inp = new Rete.Input('in',"Inicio", actSocket, true);
        var out = new Rete.Output('out', "Fin", actSocket, true);
        return node
            .addInput(inp)
            .addControl(ctrl)
            .addOutput(out);
    }
    worker(node, inputs, outputs) {
    }
}

class SigningUserComponent extends Rete.Component {
    constructor(){
        super("Notificado");
    }
    builder(node) {
        var ctrl = new UserControl(this.editor, node.id, 'signinguser', node.data.user_id);
        var inp = new Rete.Input('in',"Inicio", actSocket, true);
        var out = new Rete.Output('out', "Fin", actSocket, true);
        return node
            .addInput(inp)
            .addControl(ctrl)
            .addOutput(out);
    }

    worker(node, inputs, outputs) {
        var value = inputs['in'].length ? inputs['in'][0] : node.data.value;
        outputs['value'] = value;
    }
}

var container = document.querySelector('#rete');
var components = [new InputComponent(), new OutputComponent(), new GuarantorUserComponent(), new SigningUserComponent()];

var editor = new Rete.NodeEditor('demo@0.1.0', container);
editor.use(ConnectionPlugin.default);
editor.use(VueRenderPlugin.default);   
editor.use(ContextMenuPlugin.default, {
    searchBar: false,
});
editor.use(AreaPlugin);
editor.use(CommentPlugin.default);
editor.use(KeyboardPlugin);

var engine = new Rete.Engine('demo@0.1.0');


components.map(c => {
    editor.register(c);
    engine.register(c);
});

editor.on('connectioncreate connectionremove nodecreate noderemove process', ()=>{
    compile();
});

async function compile() {
    await engine.abort();
    await engine.process(editor.toJSON());
    $('#id-graph').val(JSON.stringify(editor.toJSON()));
}

editor.fromJSON(graph).then(() => {
    editor.view.resize();
    compile();
});

editor.on('zoom', (e) => {
  let k = e.transform.k; 
  if (e.zoom > k) { 
    e.zoom = k + 0.02;
  } else if (e.zoom < k) {
    e.zoom = k - 0.02;
  }
  e.zoom = +e.zoom.toFixed(2);
  return e.source !== 'dblclick'; 
});

</script>

{% endif %}


