{% load static %}

<link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.css' %}" rel="stylesheet" />
<link href="{% static 'core/css/amsify.suggestags.css' %}" rel="stylesheet" />
<link href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />

<style type="text/css" scoped>
    form .aligned ul { 
        margin-left: 10px !important;
    }
    .amsify-select-tag {
        color: #fff;
    }
    form .aligned li { 
        display: inline-block;
        border-radius: 4px;
        background-color: grey;
        color: white;
        border-color: grey;
        border-width: 5px;
        margin: 5px;
        font-size: 17px;
        font-weight:600;
        line-height: 25px;
        padding-bottom: 5px;
    }
    .submit-row a.deletelink {
        height: 35px;
    }
</style>

<div class="row">
    <div class="col-lg-2">
        <label>Número de dígitos del consecutivo</label>
    </div>
    <div class="col-lg-2">
        <input class="form-control" type="number" id="id-digits" name="digits" min="2" max="12" value="{{ widget.digits }}">
    </div>
    <div class="col-lg-8">
    </div>
    <div class="col-lg-2">
        <label>Formato</label>
    </div>
    <div class="col-lg-10">
        <input class="form-control" type="text"  id="id-{{ widget.name }}" name="{{ widget.name }}" value="{{ widget.value }}"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 small">
        <label></label>
    </div>
</div>

<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-m" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Confirmacion
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-12" id="file-display-field">
                        {{message_confirm}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="modal_save">Aceptar</button>
              </div>
        </div>
    </div>
</div>

<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'core/js/jquery.amsify.suggestags.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

{{ widget.options|json_script:"options" }}

<script>
    var options = JSON.parse(document.getElementById('options').textContent);
    var colors = ['bg-primary', 'bg-success', 'bg-warning', 'bg-danger', 'bg-info']
    var save = false;

    $('input[name="{{ widget.name }}"]').amsifySuggestags({
        suggestions: options,
        classes: colors.slice(0, options.length),
        trimValue: true,
        checkSimilar: true,
        showAllSuggestions: true,
        defaultLabel:'TODO'
    });

    $( "#modal_save" ).click(function() {
        save = true;
        $("#consecutiveformat_form").submit()
    });
    
    $("#consecutiveformat_form").submit(function(e){
        if(!save) {
            e.preventDefault();
            a = $('#confirm_modal').modal()
        } 

    })
</script>


