{% load static %}

<link href="{% static 'correspondence/css/js-year-calendar.css' %}" rel="stylesheet" />
<link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary" id="calendar-holidays" data-toggle="button" aria-pressed="false"></button>
        <button class="btn btn-primary" id="calendar-sundays" data-toggle="button" aria-pressed="false"></button>
        <button class="btn btn-primary" id="calendar-saturdays" data-toggle="button" aria-pressed="false"></button>
        <button class="btn btn-danger" id="calendar-erase" data-toggle="button" aria-pressed="false">Borrar todo</button>
        <input id="id-calendar-data" name="calendarData" type="hidden" value="">
        <input id="id-calendar-year" name="year" type="hidden" value="">
        <input id="id-{{ widget.name }}" name="{{ widget.name }}" type="hidden" value="{{ widget.value }}">
    </div>
</div>
<div class="row">
    <div class="col-lg-2 small">
        <label></label>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="calendar"></div>
    </div>
</div>

<div class="modal fade" id="year-change-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cambiar de año</h5>
        </div>
        <div class="modal-body">
            Los cambios realizados en el año actual serán descartados
        </div>
        <div class="modal-footer">
            <button type="button" id="year-change-cancel" class="btn btn-secondary">Cancelar</button>
            <button type="button" id="year-change-confirm" class="btn btn-primary">Confirmar</button>
        </div>
        </div>
    </div>
  </div>

<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'node_modules/js-year-calendar/dist/js-year-calendar.min.js' %}"></script>

{{ widget.year|json_script:"year" }}

<script>

    var year = JSON.parse(document.getElementById('year').textContent);
    var updated = false;

    const dayType = {
        'holiday': {'type': 'holiday', 'name': 'Día festivo', 'color': '#37AFA9', 'disable': 'Desmarcar festivos', 'enable': 'Marcar festivos'},
        'custom': {'type': 'custom', 'name': 'No laboral', 'color': '#AEC8C9'},
        'sat': {'type': 'sat', 'name': 'Sábado', 'color': '#E3E3CD', 'disable': 'Desmarcar sábados', 'enable': 'Marcar sábados'},
        'sun': {'type': 'sun', 'name': 'Domingo', 'color': '#E3E3CD', 'disable': 'Desmarcar domingos', 'enable': 'Marcar domingos'}
    }

    const calendar = new Calendar(document.querySelector('#calendar'), {
        clickDay: function(e) {
            events = calendar.getEvents(e.date);
            if (events.length) {
                let dataSource = calendar.getDataSource();
                calendar.setDataSource(dataSource.filter(item => item.id != events[0].id));
                $(e.element).popover('hide');
            } 
            else {
                calendar.addEvent(
                    {
                        id: e.date.toISOString().substring(0, 19),
                        name: dayType['custom']['name'],
                        description: '',
                        startDate: e.date,
                        endDate: e.date,
                        type: dayType['custom']['type'],
                        color: dayType['custom']['color']
                    }
                );
            }
            setData();
        },
        mouseOnDay: function(e) {
            if(e.events.length > 0) {
                var content = '';
                
                for(var i in e.events) {
                    content += '<div class="event-tooltip-content">'
                            + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
                            + (e.events[i].description ? '<div class="event-location">' + e.events[i].description + '</div>' : '')
                            + '</div>';
                }
            
                $(e.element).popover({ 
                    trigger: 'manual',
                    container: 'body',
                    html:true,
                    content: content
                });
                
                $(e.element).popover('show');
            }
        },
        mouseOutDay: function(e) {
            if(e.events.length > 0) {
                $(e.element).popover('hide');
            }
        },
        style:'background',
        enableRangeSelection: false,
    });

    function checkByDateType(dayCode) {
        let dataSource = calendar.getDataSource();
        return dataSource.some(event => event.type === dayType[dayCode]['type'])
    }

    function addHolidays() {
        var country = 'CO';
        var year = calendar.getYear();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'holidays' %}",
            data: {"year": year, "country": country},
            success: function (response) {
                response.forEach(function (value) {
                    event =  {
                        id: value.date,
                        name: dayType['holiday']['name'],
                        description: value.local_name,
                        startDate: new Date(value.date),
                        endDate: new Date(value.date),
                        type: dayType['holiday']['type'],
                        color: dayType['holiday']['color']
                    }
                    calendar.addEvent(event, false);
                });
                calendar.render();
                setData();
            },
            error: function (response) {
                console.log(response)
            }
        })
    }

    function deleteByDateType(dayCode) {
        let dataSource = calendar.getDataSource();
        calendar.setDataSource(dataSource.filter(item => item.type != dayType[dayCode]['type']));
        setData();
    }

    function addWeekends(dayCode) {
        var year = calendar.getYear();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'weekends' %}",
            data: {"year": year, "day": dayCode},
            success: function (response) {
                response.forEach(function (value) {
                    event =  {
                        id: value.date,
                        name: dayType[dayCode]['name'],
                        description: '',
                        startDate: new Date(value.date),
                        endDate: new Date(value.date),
                        type: dayType[dayCode]['type'],
                        color: dayType[dayCode]['color']
                    }
                    calendar.addEvent(event, false);
                });
                calendar.render();
                setData();
            },
            error: function (response) {
                console.log(response)
            }
        })
    }

    function updateByDateType(dayCode) {
        exists = checkByDateType(dayCode)
        if (exists) {
            deleteByDateType(dayCode)
        } else {
            if (dayCode === 'holiday'){
                addHolidays()
            } else {
                addWeekends(dayCode)
            }
        }
        return exists
    }

    function setTextDisable(itemId, dayCode) {
        $(itemId).text(dayType[dayCode]['enable']);
    }

    function setText(itemId, dayCode) {
        $(itemId).text(updateByDateType(dayCode) ? dayType[dayCode]['enable'] : dayType[dayCode]['disable']);
    }

    function initText(itemId, dayCode) {
        $(itemId).text(!checkByDateType(dayCode) ? dayType[dayCode]['enable'] : dayType[dayCode]['disable']);
    }

    initText("#calendar-holidays", 'holiday')
    initText("#calendar-sundays", 'sun')
    initText("#calendar-saturdays", 'sat')

    $('#calendar-holidays').click(function (e) {
        e.preventDefault();
        setText("#calendar-holidays", 'holiday')
    })

    $('#calendar-sundays').click(function (e) {
        e.preventDefault();
        setText('#calendar-sundays', 'sun') 
    })

    $('#calendar-saturdays').click(function (e) {
        e.preventDefault();
        setText('#calendar-saturdays', 'sat') 
    })

    $('#calendar-erase').click(function (e) {
        e.preventDefault();
        calendar.setDataSource([])
        setData();
        setTextDisable("#calendar-holidays", 'holiday')
        setTextDisable('#calendar-sundays', 'sun') 
        setTextDisable('#calendar-saturdays', 'sat') 
    })

    function getNotWorkingDays() {
        var year = calendar.getYear();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'not_working_days' %}",
            data: {"year": year},
            success: function (response) {
                events = []
                response[0].forEach(function (value) {
                    events.push({
                        id: value.date,
                        name: dayType['custom']['name'],
                        description: '',
                        startDate: new Date(value.date),
                        endDate: new Date(value.date),
                        type: dayType['custom']['type'],
                        color: dayType['custom']['color']
                    })
                });
                calendar.setDataSource(events)
                setData();
                updated = false;
            },
            error: function (response) {
                console.log(response)
            }
        })
    }

    function setData() {
        $('#id-calendar-data').val(JSON.stringify(calendar.getDataSource()));
        updated = true
    }

    function setYear() {
        $('#id-calendar-year').val(calendar.getYear());
        getNotWorkingDays();
        updated = false;
    }

    calendar.setYear(year)

    $('#year-change-confirm').click(function (e) {
        e.preventDefault();
        setYear();
        $('#year-change-modal').modal('hide')
    })

    $('#year-change-cancel').click(function (e) {
        e.preventDefault();
        calendar.setYear($('#id-calendar-year').val());
        $('#year-change-modal').modal('hide')
    })

    document.querySelector('#calendar').addEventListener('yearChanged', function(e) {
        if (updated) {
            $('#year-change-modal').modal('show')
        } else {
            setYear()
        }
        
    })

    setYear();
</script>


