{% extends 'correspondence/main_template.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-5 col-12 mt-5">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="text-center mt-5">
                        <h1 class="welcome-message">{{ user_welcome.title|safe }}</h1><br />
                        <h1 class="welcome-message">{{ user_welcome.body|safe }}</h1>
                        <img class="img-fluid my-5"
                            src="{% static 'correspondence/assets/img/illustrations/at-work.svg' %}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            PQRSD Tramitadas 
                        </div>
                        <div class="col-2">
                            <div class="dropdown mr-auto">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <p class="dropdown-item" value"1" name="processed_days">1 día</p>
                                    <p class="dropdown-item" name="processed_days">7 días</p>
                                    <p class="dropdown-item" name="processed_days">30 días</p>
                                    <p class="dropdown-item" name="processed_days">12 meses</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="processed_chart" style="width: 100%;height:400px;"></div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            PQRSD Tramitadas 
                        </div>
                    <div>
                    <div class="dropdown mr-auto">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="dropdown-item" value"1" name="processed_days">1 día</p>
                            <p class="dropdown-item" name="processed_days">7 días</p>
                            <p class="dropdown-item" name="processed_days">30 días</p>
                            <p class="dropdown-item" name="processed_days">12 meses</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>




    <div class="card mb-4">
        <div class="card-header">PQRS</div>
        <div class="card-body">
            <div class="chart-area"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
        </div>
        <div class="card-footer small text-muted">Actualizado ayer a las 11:59 PM</div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <!-- Bar chart example-->
            <div class="card mb-4">
                <div class="card-header">Radicados Mensuales</div>
                <div class="card-body">
                    <div class="chart-bar"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                </div>
                <div class="card-footer small text-muted">Actualizado ayer a las 11:59 PM</div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Pie chart example-->
            <div class="card mb-4">
                <div class="card-header">Radicados por tipo</div>
                <div class="card-body">
                    <div class="chart-pie"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                </div>
                <div class="card-footer small text-muted">Actualizado ayer a las 11:59 PM</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block chat %}
{% if  chat_rooms%}
<div id="chat-circle" class="btn btn-raised">
    <div id="chat-overlay"></div>
    <i data-feather="message-circle"></i>
</div>
<div class="chat-box">
    <div class="chat-box-header">
    Responder Soporte
    <span class="chat-box-toggle">
        <i data-feather="x"></i></span>
    </div>
    <div class="chat-box-body">
    <div class="chat-box-overlay">   
    </div>
    <div class="chat-logs">
        <div id="crate-room-form" class="row">
        <div class="col-md-12 form-group">
            <label for="chat_respondle">Seleccione una Sala para responder los mensajes</label>
            <select name="chat_respondle" id="chat_respondle" class="select form-control custom-select">
                {% for chat_room in chat_rooms %}
                <option value="{{chat_room.code_room}}">
                    {{chat_room.name_room}} - {{chat_room.reference_name_creator}} 
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-12 d-flex">
            <button 
            id="response_click_button"
            class="btn btn-success mx-auto">Responder  Chat</button>
        </div>
        </div>
    </div><!--chat-log -->
    </div>
    <div class="chat-input">      
    <form>
        <input type="text" id="chat-input" placeholder="Send a message..."/>
        <input type="hidden" id="room_id">
        <input type="hidden" id="name_create_user" value="{{current_user}}">
        <button disabled type="submit" class="chat-submit" id="chat-submit">
        <i data-feather="send"></i></span>
        </button>
    </form>      
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}

    var processed_days = '30 días'

    $("[name='processed_days']").on('click', function(e){
        processed_days = $(e.target).html();
    })

    function calculateProcessed(){
        $.ajax({
            type: 'GET',
            url: '{% url "correspondence:processed-chart" %}',
            data: {
                dates : processed_days,
            }
        })
    }
    $(document).ready(function(){
        calculateProcessed();
    })

{% endblock %}