{% extends 'correspondence/main_template.html' %} 
{% load static %}  
{% load pqrs_extras %}{% block content %}


<div class="btn-group mb-3 position-relative" role="group" align="center"
  aria-label="Button group with nested dropdown">
  {% if  editable %}
  <a class="btn btn-success" role="button"
  href="{% url 'pqrs:consultant_view' %}">
    <i data-feather="corner-down-left" ></i>
    Regresar
  </a>
  {% else %}
  
  <a class="btn btn-dark" href="{% url 'correspondence:list_radicate' %}" role="button"><i
      data-feather="corner-down-left"></i>Listado</a>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i data-feather="activity"></i>
      Acciones
    </button>
    <div class="dropdown-menu m-1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'correspondence:current_user' pk=pqrscontent.pk %}">Trasladar</a>
      <a class="dropdown-item" href="{% url 'correspondence:recordassigned' pk=pqrscontent.pk %}">Incluir en expediente</a>
      <a class="dropdown-item" href="{% url 'correspondence:project_answer' pk=pqrscontent.pk %}">Proyectar respuesta</a>
    </div>
  </div>
  {% endif %}
</div>


<div class="row mb-3 justify-content-center">
  <div class="card mb-4 h-100 mb-3">
    <div class="card-header text-secundary">Radicado No. {{pqrscontent.number}}</div>
    <div class="card-body">
      <div class="col-xxl-12 col-xl-12 mb-12">
        <div class="card  mb-3">
          <div class="card-header">Informacion General</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 text-sm">
                <p>
                  <i data-feather="user"></i>
                  <b>Tipo Persona:</b><br />{{pqrscontent.person.person_type.name}}
                </p>
                <p>
                  <i data-feather="credit-card"></i>
                  <b>Tipo Documento:</b><br />{{pqrscontent.person.document_type.name}}
                </p>
              </div>
              <div class="col-md-4 text-sm">
                <p>
                  <i data-feather="user"></i>
                  <b>Remitente:</b><br />{{ pqrscontent.person.name }} {{ pqrscontent.person.lasts_name }}
                </p>
                
                <p>
                  <i data-feather="credit-card"></i>
                  <b>Numero Documento:</b><br />{{pqrscontent.person.document_number}}
                </p>
              </div>
              <div class="col-md-4 text-sm">
                <p>
                  <i data-feather="calendar"></i>
                  <b>Fecha:</b><br />{{ pqrscontent.date_radicated }}
                </p>
                <!--<p>
                  <i data-feather="user"></i>
                  <b>Usuario creador:</b><br />{{ pqrscontent.creator.user.first_name }} {{ pqrscontent.creator.user.last_name
                  }}
                </p>
                <p>
                  <i data-feather="user"></i>
                  <b>Usuario actual:</b><br />{{ pqrscontent.current_user.user.first_name }} {{
                  pqrscontent.current_user.user.last_name }}
                </p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-12 col-xl-12 mb-12">
        <div class="card  mb-3">
          <div class="card-header">Informacion de Contacto</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 text-sm">
                <p>
                  <i data-feather="home"></i>
                  <b>Medio deseado para recibir respuesta: </b><br />{{ pqrscontent.person.request_response.name }}
                </p>
                <p>
                  <i data-feather="map-pin"></i>
                  <b>Dirección:</b><br />
                  {% if pqrscontent.person.pk != 1 %}
                  {{ pqrscontent.person.address }} {% else %}
                  Persona anonima {% endif %}
                </p>
                <p>
                  <i data-feather="smartphone"></i>
                  <b>Telefono: </b><br />{{ pqrscontent.person.phone_number }}
                </p>
              </div>
              <div class="col-md-6 text-sm">
                <p>
                  <i data-feather="mail"></i>
                  <b>Corre electrónico: </b><br />{{ pqrscontent.person.email }} {{ pqrscontent.email_user_email }}
                </p>
                <p>
                  <i data-feather="compass"></i>
                  <b>Departamento y Municipio:</b><br />
                  {% if pqrscontent.person.pk != 1 %}
                  {{ pqrscontent.person.city }} {% else %}Persona anonima {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-12 col-xl-12 mb-12">
        <div class="card  mb-3">
          <div class="card-header">Condiciones especiales</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 text-sm">
                <p>
                  <i data-feather="user"></i>
                  <b>Poblaci&oacute;n: </b><br />{{ pqrscontent.person.conflict_victim.name }}
                </p>
                <p>
                  <i data-feather="align-justify"></i>
                  <b>Poblaci&oacute;n preferencial: </b><br />
                  {% for population in pqrscontent.person.preferencial_population.all%}
                    {{ population.name }} <br />
                  {% endfor%}
                </p>
              </div>
              <div class="col-md-6 text-sm">
                <p>
                  <i data-feather="user"></i>
                  <b>Poblaci&oacute;n: </b><br />{{ pqrscontent.person.ethnic_group.name }}
                </p>
                <p>
                  <i data-feather="align-justify"></i>
                  <b>Situaci&oacute;n de discapacidad: </b><br />
                  {% for population in pqrscontent.person.disabilities.all%}
                  {{ population.name }} <br />
                  {% endfor%}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if pqrscontent.pqrsobject.multi_request_person.all %}
      <div class="col-xxl-12 col-xl-12 mb-12">
        <div class="card  mb-3">
          <div class="card-header">Listado Solicitantes</div>
          <div class="card-body">
            <div class="overflow-auto">
              <table class="table table-hover" id="tb_request_sender">
                <thead>
                  <tr>
                    <th scope="col">Orden</th>
                    <th scope="col">Nombre y apellido</th>
                    <th scope="col">Tipo y Numero de Documento</th>
                    <th scope="col">Detalles</th>
                  </tr>
                </thead>
                <tbody>
                  {% for people in  pqrscontent.pqrsobject.multi_request_person.all %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{people.name}} {{people.lasts_name}}</td>
                    <td>{{people.document_type.abbr}} {{people.document_number}}</td>
                    <td class="d-flex">
                      <button class="btn btn-link mx-auto" 
                      onclick="descriptionPersonRequest(
                        '{{people.name}} {{people.lasts_name}}',
                        '{{people.person_type.name}}',
                        '{{people.expedition_date}}','{{people.document_type.name}}',
                        '{{people.document_number}}','{{people.address}}',
                        '{{people.email}}','{{people.city}}','{{people.phone_number}}'
                      )">
                        <i data-feather="plus-circle"></i>
                      </button>
                      
                    </td>
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>
            </div>
            <div id="containerpersonRequest" class="card mb-3 d-none">
              <div id="namerequest" class="card-header"></div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-sm">
                  <p >
                    <i data-feather="users"></i>
                    <b>Tipo Persona:</b><br />
                    <span id="contTypePerson"></span>
                  </p>
                  <p>
                    <i data-feather="credit-card"></i>
                    <b>Tipo Documento:</b><br />
                    <span id="contDocType"></span>
                  </p>
                  <p id="contMail">
                    <i data-feather="credit-card"></i>
                    <b>Correo electronico:</b><br />
                    <span id="contMail"></span>
                  </p>
                </div>
                <div class="col-md-4 text-sm">
                  <p>
                    <i data-feather="user"></i>
                    <b>Nombre y Apellidos:</b><br />
                    <span  id="contNameLastName"></span>
                  </p>
                  <p>
                    <i data-feather="credit-card"></i>
                    <b>Numero de documento:</b><br />
                    <span id="contDocNum"></span>
                  </p>
                  <p >
                    <i data-feather="map-pin"></i>
                    <b>Direcci&oacute;n:</b><br />
                    <span id="contAddress"></span>
                  </p>
                </div>
                <div class="col-md-4 text-sm">
                  <p >
                    <i data-feather="calendar"></i>
                    <b>Fecha:</b><br />
                    <span id="contDate"></span>
                  </p>
                  <p >
                    <i data-feather="smartphone"></i>
                    <b>Telef&oacute;no/C&eacute;lular:</b><br />
                    <span id="contPhoneNumber"></span>
                  </p>
                  <p >
                    <i data-feather="compass"></i>
                    <b>Departamento / Municipio: </b><br />
                    <span id="contDepMuni"></span>
                  </p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if pqrscontent.person.attornyCheck %}
      <div class="col-xxl-12 col-xl-12 mb-12">
        <div class="card  mb-3">
          <div class="card-header">Datos Apoderado</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 text-sm">
                <p>
                  <i data-feather="users"></i>
                  <b>Tipo Apoderado:</b><br />{{personAttorny.attorny_type.name}}
                </p>
                <p>
                  <i data-feather="user"></i>
                  <b>Nombre y Apellidos:</b><br />{{ personAttorny.attorny.name }} {{ personAttorny.attorny.lasts_name }}
                </p>
                <p>
                  <i data-feather="map-pin"></i>
                  <b>Direcci&oacute;n:</b><br />{{personAttorny.attorny.address}}
                </p>
              </div>
              <div class="col-md-4 text-sm">
                {% if personAttorny.attorny.professional_card %}
                <p>
                  <i data-feather="credit-card"></i>
                  <b>No. Tarjeta profecional(Abogado):</b><br />{{ personAttorny.attorny.professional_card }}
                </p>
                {% endif%}
                <p>
                  <i data-feather="credit-card"></i>
                  <b>Tipo Documento:</b><br />{{personAttorny.attorny.document_type.name}}
                </p>
                <p>
                  <i data-feather="compass"></i>
                  <b>Departamento / Municipio: </b><br />{{personAttorny.attorny.city}}
                </p>
                
              </div>
              <div class="col-md-4 text-sm">
                <p>
                  <i data-feather="smartphone"></i>
                  <b>Telef&oacute;no/C&eacute;lular:</b><br />{{personAttorny.attorny.city}}
                </p>
                <p>
                  <i data-feather="credit-card"></i>
                  <b>N&uacute;mero de Documento</b><br />{{personAttorny.attorny.document_number}}
                </p>
                <p>
                  <i data-feather="mail"></i>
                  <b>Correo electronico</b><br />{{personAttorny.attorny.email}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-xxl-12 col-xl-12 mb-12">
        <div class="card  mb-3">
          <div class="card-header">Datos PQRSD</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 text-sm">
                <p>
                  <i data-feather="archive"></i>
                  <b>Tipo de PQRSD: </b><br />{{ pqrscontent.pqrsobject.pqr_type.name }}
                </p>
                <p>
                  <i data-feather="align-justify"></i>
                  <b>Asunto: </b><br />{{ pqrscontent.subject }}
                </p>
                <div class="row">
                  <div class="col-1">
                    <svg height="8mm" width="8mm">
                      <circle cx="4mm" cy="4mm" r="3mm" style="fill: {{ pqrscontent.subtype.alerts.all|get_color_traffic_light:pqrscontent.date_radicated }};" />
                    </svg>
                  </div>
                  <div class="col-10">
                    <div class="col-12">
                      Días completitud
                    </div>
                    <div class="col-12">
                      <b>{{ pqrscontent.date_radicated|get_missing_days:pqrscontent.subtype.max_response_days }}</b>   
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-sm">
                <p>
                  <i data-feather="align-justify"></i>
                  <b>Tema: </b><br />{{ pqrscontent.subtype.name }}
                </p>
                <p>
                  <i data-feather="align-justify"></i>
                  <b>Grupo de interes: </b><br />{{ pqrscontent.interestGroup.name }}
                </p>
                {% if not editable %}
                <button class="btn btn-primary">
                  Modificar Clasificación PQRSD
                </button>
                {% endif %}
              </div>
            </div>
            <div class="row mt-4"> 
              <div class="col-12">
                <i class="far fa-file fa-lg" style="color: blue;"></i> Detalle de la solicitud   
              </div>        
              <div class="col-12 mt-2">
                <div class="modal-body">
                  {% autoescape off %} {{ pqrscontent.data }} {% endautoescape %}
                </div>
              </div>
            </div>
          </div>  
          
        </div>
        
      </div>
      {% if  not editable %}
      <div class="col-xxl-12 col-xl-12 mb-12">
        <div class="card  mb-3">
          <div class="card-header">Anexos</div>
          <div class="card-body">
          <div class="row">

          </div> 
            <div class="row">
              <div class="datatable">
              <table class="table table-bordered table-hover" id="filesList" width="100%" cellspacing='0'>
                <thead>
                  <tr>
                    <th style="text-align: center;">Nombre del archivo</th>
                    <th style="text-align: center;">Tamaño (MB)</th>
                  </tr>
                </thead>
        
                <tbody>
                {% for file in files %}
                  <tr>
                    <td>
                    <div class="row text-center">
                      <div class="col-2">
                        <img data-nodeid="{{ file.cmis_id | default_if_none:'' }}" class="img-fluid shadow display-modal" 
                              width="40" height="45" src="{% static 'correspondence/assets/img/default.jpeg' %}" 
                              data-extension={{ file.extension }} data-toggle="modal" data-target="#fileModal"
                          >
                      </div>
                      <div class=" offset-1 col-6 align-self-center">
                        <a class="display-modal"
                          data-nodeid="{{ file.cmis_id | default_if_none:'' }}"
                          data-extension={{ file.extension }} data-toggle="modal" data-target="#fileModal"
                        >{{ file.name }}{{file.extension}}</a>
                      </div>
                    </div>
                    </td> 
                    <td class="text-center">
                      {{ file.size|size_metric:'MB' }} MB
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% if  not editable %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card bg-light mb-3">
      <div class="card-header">Histórico</div>
      <div id="history">
        <div class="card-body">
          <div class="timeline timeline-xs">
            {% for log in logs %}
            <div class="timeline-item">
              <div class="timeline-item-marker">
                <div class="timeline-item-marker-text">{{ log.timestamp | date:"d M" }}</div>
                <div class="timeline-item-marker-indicator bg-green"></div>
              </div>
              <div class="timeline-item-content">
                {{ log.extra.message }} el {{ log.timestamp | date:"D d M Y P " }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-12" id="file-display-field">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %} 

{% block script %} 

  $('.img-fluid').each(function(index,element){ if($(element).data('nodeid')){ cmis =
  $(element).data('nodeid'); $(element).attr("src", '{% url "correspondence:get_thumbnail" %}?cmis_id='+cmis);
  }}); 

  $(document).ready(function() {
        
        $('#filesList').DataTable( {
            "language": {
                "url": "{% static 'pqrs/js/dataTableSpanish.json' %}",
            },
            "lengthMenu": [ 3, 6, 9, 12],
            "dom": "b<'row'<'#keyword.mr-auto'f><'col-4'l>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-7'i><'col-sm-12 col-md-5'p>>",
        });
    });     

   $('.display-modal').click(function(event){
     element = event.target;
     if ($(element).data('extension')){
      extension = $(element).data('extension');
      $('#file-display-field').empty()
      if (extension == '.pdf' || extension == '.doc' || extension == '.docx'){
        embeded_file = $('<embed class="w-100"/>'); 
      }
      else {
        embeded_file = $('<img class="w-100"/>'); 
      }
      embeded_file.attr("height", "900");
      embeded_file.attr("src", '{% url "correspondence:get_file" %}?cmis_id='+$(element).data('nodeid'));
      $('#file-display-field').append(embeded_file);
     }
   })

{% endblock %}