{% extends 'correspondence/main_template.html' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">Expediente {{ Record.name }}</div>
    <div class="card-body">
        <div class="jumbotron">
          <div class="row">
              <div class="col-sm">
                <i id="id_folder" data-toggle="tooltip" title="Expediente" data-placement="top" data-feather="folder" style="width: 200px; height: 200px; color: navy" ></i>
              </div>
              <div class="col-sm">
                <h1 class="display-4">{{ record.name }}</h1>
                <p class="lead">{{ record.subject  }}</p>
                  <hr class="my-4">
                  <h5>{{ record.retention }}</h5>
              </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm">
          <p><i data-feather="key"></i><b class="pl-1">Es TVD</b> {{ record.is_tvd }}</p>
          <p><i data-feather="user"></i><b class="pl-1">Nombre</b> {{ record.name }}</p>
          <p><i data-feather="chevrons-right"></i><b class="pl-1">Tipificación:</b> {{ record.retention }}</p>
          <p><i data-feather="type"></i><b class="pl-1">Asunto:</b> {{ record.subject }}</p>
          <p><i data-feather="layers"></i><b class="pl-1">Fuente:</b> {{ record.source }}</p>
          <p><i data-feather="activity"></i><b class="pl-1">Proceso:</b> {{ record.process_type }}</p>
          <p><i data-feather="flag"></i><b class="pl-1">Usuario Responsable del Proceso:</b> {{ record.responsable }}</p>
        </div>
        <div class="col-sm">
          <p><i data-feather="user"></i><b class="pl-1">Proceso:</b> {{ record.process_type }}</p>
          <p><i data-feather="user-check"></i><b class="pl-1">Usuario Responsable del Proceso:</b> {{ record.responsable }}</p>
          <p><i data-feather="calendar"></i><b class="pl-1">Fecha inicial del proceso:</b> {{ record.init_process_date }}</p>
          <p><i data-feather="calendar"></i><b class="pl-1">Fecha inicial:</b> {{ record.init_date }}</p>
          <p><i data-feather="calendar"></i><b class="pl-1">Fecha final:</b> {{ record.final_date }}</p>
          <p><i data-feather="refresh-ccw"></i><b class="pl-1">Fase:</b> {{ record.phase }}</p>
          <p><i data-feather="pocket"></i><b class="pl-1">Disposición final:</b> {{ record.final_disposition }}</p>
          <p><i data-feather="shield"></i><b class="pl-1">Nivel de seguridad:</b> {{ record.security_level }}</p>
        </div>
       </div>



    </div>
    <div class="card-footer">
      Resumen del expediente
    </div>
</div>
  <div class="card mb-4">
      <div class="card-header">Listado de radicados</div>
      <div class="card-body">
        <div class="datatable">
          <table class="table table-bordered table-hover" id="record.radicates" width="100%" cellspacing='0'>
            <thead>
              <tr>
                <th class="d-none d-md-table-cell">Fecha</th>
                <th>Número</th>
                <th>Asunto</th>
                <th class="d-none d-md-table-cell">Remitente</th>
                <th class="d-none d-md-table-cell">Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th class="d-none d-md-table-cell">Fecha</th>
                <th>Número</th>
                <th>Asunto</th>
                <th class="d-none d-md-table-cell">Remitente</th>
                <th class="d-none d-md-table-cell">Estado</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
            <tbody>
              {% for radicate in record.radicates.all %}
              <tr>
                <td class="d-none d-md-table-cell">{{ radicate.date_radicated }}</td>
                <td>{{ radicate.number }}</td>
                <td>{{ radicate.subject }}</td>
                <td class="d-none d-md-table-cell">{{ radicate.person.name }}</td>
                <td class="d-none d-md-table-cell"><div class="badge badge-success badge-pill">Radicado</div></td>
                <td>
                    <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i data-feather="more-vertical"></i></button>
                    <a href="{% url 'correspondence:detail_radicate' pk=radicate.pk %}" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="eye"></i></a>
                    {% if radicate.document_file %}
                      <a href="{{ radicate.document_file.url }}" target="_blank" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="file"></i></a>
                    {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
<a href="{% url 'correspondence:list_records' %}" class="btn btn-primary">Listado</a>
{% endblock %}
