{% extends 'correspondence/main_template.html' %} {% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="card mb-4">
  <div class="card-body">
      <div class="row no-gutters">
        <div class="col-auto card-icon-aside md-4">
          <i class="feather-xl text-primary mb-3" data-feather="package"></i>
        </div>
        <div class="col">
          <div class="card-body py-5">
            <h1 class="card-title text-primary text-center">RINO PQRSD GESTIONAR</h1>
          </div>
        </div>
        <div class="col-md-4">
          <img
            class="img-fluid"
            src="{% static 'correspondence/assets/img/illustrations/browser-stats.svg' %}"
            alt="..."
            style="width: 8rem"
          />
        </div>
      </div>
    <div class="row">
      <div class="tree">
        {% for item, info,last_leaf in functional_tree %}
        {% if info.open %}
        {% if info.level != 0 %}
        <div id="cont{{item.parent.id}}" class="collapse">
          {% endif %}
          <ul>
            <li>
              {% else %}
            </li>
            <li>
              {% endif %}
              {% if last_leaf %}
              <span style="color: #000;"><i class="fas fa-warehouse mr-1"></i><label
                  onclick="searchPeople('{{item.pk}}', '{% url 'correspondence:users_by_area' %}', '{{item.parent.name}}/{{item.name}}', '1')">
                  {{ item }}</label></span>
              {% else%}
              <span>
                <a style="color:#000; text-decoration:none;" data-toggle="collapse" href="#cont{{item.pk}}"
                  aria-expanded="false" aria-controls="cont{{item.pk}}">
                  <i class="collapsed">
                    <i class="fas fa-building"></i>
                  </i>
                  <i class="expanded">
                    <i class="far fa-building"></i>
                  </i>
                  {{ item }}
                </a>
              </span>
              {% endif %}

              {% for close in info.close %}
            </li>
          </ul>
          {% if info.level != 0 and info.open%}
        </div>
        {% endif%}
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    <h5 class="text-primary">Área seleccionada: <span id="headerForm"></span></h5>
    <form action="" method="post">
      <select name="user_selected" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" id="user_selected">
      </select>
      {{ form | crispy }} {% csrf_token %}
      <input type="hidden" class="btn btn-primary lift" name="interest_area" id="interest_area" />
      <div class="col text-center">
        <input type="submit" name="search" value="Solicitar" class="btn btn-success lift"/>
        <a class="btn btn-primary" href="{% url 'pqrs:radicate_inbox' %}">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}