{% extends 'pqrs/template.html' %}
{% load crispy_forms_tags %}
<!-- BLOCK Content -->
{% block content %}
<div class="card mb-4">
    <div class="card-body">
        <form  method="post">
        {% csrf_token %}
            <div class="form-group offset-5 col-md-4 my-5">
                {{ form.number|as_crispy_field }}
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Datos destinatario
                </div>
                <div class="card-body">
                    <div class="container"> 
                        {% crispy form %}
                        <div class="modal fade" id="signModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><strong>RINO - PQRSD</strong></h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <h1><strong>TIPO DE FIRMA</strong></h1>
                                            <div class="form-check-inline justify-content-center mt-5">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <div class="col-2 mr-5">
                                            <button type="submit" class="btn btn-primary">Continuar</button>
                                        </div>
                                        <div class="col-2 ml-5">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-row">
                            <div class="form-group mx-5 col-md-2 mb-0">
                                <a href="" class="btn btn-primary w-100">Solicitar firmas</a>
                            </div>
                            <div class="form-group col-md-2 mx-5 mb-0">
                                <a href="" class="btn btn-primary w-100">Vista previa</a>
                            </div>
                            <div class="form-group col-md-2 mx-5 mb-0">
                                <a href="" class="btn btn-primary w-100" data-toggle="modal" data-target="#signModal">Responder PQRSD</a>
                            </div>
                            <div class="form-group col-md-2 mx-5 mb-0">
                                <a class="btn btn-primary w-100" href="{% url 'pqrs:detail_pqr' pk=radicate.id %}">Cancelar</a>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block script %} 
    $("#id_uploaded_files").fileinput({
        theme: 'fas',
        allowedFileExtensions: ['PDF', 'DOC', 'DOCX', 'XLS', 'XLSX', 'EXCEL', 'PPT', 'PPTX', 
                                'JPG', 'GIF', 'PNG', 'TIFF', 'BMP', 'WAV', 'MP3', 'AVI', 'MPEG', 
                                'MPG', 'OGG', 'M4A', 'MP4', 'WMV', 'OGV'],
        overwriteInitial: true,
        maxFileSize:10000,
        language: 'es',
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
      });
{% endblock %}

