{% extends 'pqrs/template.html' %}
<!-- BLOCK Content -->
{% block content %}
<div class="card mb-4">
    <div class="card-header">Remitente</div>
    <div class="card-body">
        <h5 class="card-title">{{person.name}}</h5>
        <p class="card-text">{{person.address}}</p>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">Entrada de correspondencia</div>
    <div class="card_body p-3">
          <form method="post" enctype="multipart/form-data" id="id_form_create_pqr">
            {% load crispy_forms_tags %}
            {% crispy form %}
            {% csrf_token %}
            <button id="submit_button" class="btn btn-primary">Radicar</button>
          </form>
    </div>
</div>
{% endblock %}

{% block script %} 
    $("#id_pqrs_creation_uploaded_files").fileinput({
        theme: 'fas',
        allowedFileExtensions: ['PDF', 'DOC', 'DOCX', 'XLS', 'XLSX', 'EXCEL', 'PPT', 'PPTX', 
                                'JPG', 'GIF', 'PNG', 'TIFF', 'BMP', 'WAV', 'MP3', 'AVI', 'MPEG', 
                                'MPG', 'OGG', 'M4A', 'MP4', 'WMV', 'OGV'],
        overwriteInitial: false,
        maxFileSize:10000,
        language: 'es',
        showUpload: false,
        previewFileIconSettings: {
            'docx': '<i class="fas fa-file-word text-primary mt-4"></i>',
            'xlsx': '<i class="fas fa-file-excel mt-4" style="color:green;"></i>'
        },
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
      });

      $('#submit_button').on('click', function(e){
          $('#id_form_create_pqr').submit();
      })

      $('.js-captcha-refresh').click(function(){
        $.getJSON("/captcha/refresh/", function (result) {
            $('.captcha').attr('src', result['image_url']);
            $('#id_captcha_0').val(result['key'])
        });
      });

{% endblock %}
