{% extends 'pqrs/template.html' %}
<!-- BLOCK Content -->
{% block content %}
<div class="card mb-4">
    <div class="card-body">
        <form>
            <div class="row text-center">
                <div class="col-12">
                    <h5><b>Número de radicación</b></h5>
                <d/iv>
                <div class="col-12">
                    <input class="short" type="text" readonly value={{ pqrs.number }}
                            style="border: 1px solid;
                            background: #FAFAFA;
                            border-radius: 7px;
                            text-align: center;
                            height:50px;
                            font-size:20px;
                            font-weight: bold" 
                    />
                </div>
            </div>
            <div class="container mt-4">
                <div class="card mb-4">
                    <div class="card-header text-left">Datos solicitante - destinatario</div>
                    <div class="card-body text-left">
                        <div class="row">
                            <div class="col-2">                           
                                <b>Tipo de persona *</b>                                                   
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.person_type }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                border-radius: 7px;
                                                color: gray;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                            <div class="col-3">
                                <b>Tipo de documento *</b><br>
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.document_type }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                color: gray;
                                                border-radius: 7px;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                            <div class="offset-1 col-3">
                                <b>Número de documento *</b></br>
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.document_number }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                color: gray;
                                                border-radius: 7px;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                            <div class="offset-1 col-2">
                                <b>Fecha de expedición</b></br>
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.expedition_date }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                border-radius: 7px;
                                                color: gray;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-6">
                                <b>Nombres*</b></br>
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.name|default_if_none:"" }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                border-radius: 7px;
                                                color: gray;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                            <div class="col-6">
                                <b>Apellidos*</b></br>
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.lasts_name|default_if_none:"" }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                border-radius: 7px;
                                                color: gray;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-6">
                                <b>Correo electrónico*</b></br>
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.email|default_if_none:"" }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                border-radius: 7px;
                                                color: gray;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-4">
                                <b>Dirección de correspondencia*</b></br>
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.address|default_if_none:"" }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                border-radius: 7px;
                                                color: gray;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                            <div class="col-3">
                                <b>Teléfono / Celular</b></br>
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.phone_number|default_if_none:"" }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                border-radius: 7px;
                                                color: gray;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                            <div class="col-5">
                                <b>Departamento / Municipio</b></br>
                                <input class="w-100" type="text" readonly 
                                        value="  {{ pqrs.pqrsobject.principal_person.city.state|default_if_none:"" }}/{{ pqrs.pqrsobject.principal_person.city.name|default_if_none:"" }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                border-radius: 7px;
                                                color: gray;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <b>Asunto</b></br>
                                <input class="w-100" type="text" readonly 
                                        value="  Ampliación Solicitud - {{ pqrs.subject|default_if_none:"" }}"
                                        style="border: 1px solid;
                                                background: #FAFAFA;
                                                border-radius: 7px;
                                                color: gray;
                                                height:50px;
                                                font-size:20px;" />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <b>Descripción de la solicutd de ampliación*</b></br>
                                <textarea class="w-100 form-control" rows="15"></textarea>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="offset-2 col-8">
                                <div class="row"> 
                                    <span class="far fa-file-alt fa-3x" style="color: blue;"></span>
                                    <b>Anexos, Documentos</b>
                                </div>
                                <div class="row">
                                    <input type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}