{% extends 'pqrs/template.html' %}
{% load crispy_forms_tags %}
<!-- BLOCK Content -->
{% block content %}
<div class="card mb-4">
    <div class="card-body">
        <div class="container"> 
            <form  method="post">
            {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
        
    </div>
</div>

{% endblock %}

{% block script %} 
    $("#id_document_file").fileinput({
        theme: 'fas',
        allowedFileExtensions: ['pdf','docx','png','jpg','jpeg'],
        overwriteInitial: true,
        maxFileSize:20000,
        maxFilesNum: 1,
        language: 'es',
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
      });
{% endblock %}

