{% extends 'pqrs/template.html' %}
<!-- BLOCK Content -->
{% block content %} {% load static %}
<!-- Main page content-->
<div class="row">
  <div class="col-xl-12 mb-12">
    <!-- Dashboard PQRS-->
    <div class="card">
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-auto card-icon-aside md-4">
            <i class="feather-xl text-primary mb-3" data-feather="package"></i>
          </div>
          <div class="col">
            <div class="card-body py-5">
              <h1 class="card-title text-primary text-center">RINO PQRDS</h1>
            </div>
          </div>
          <div class="col-md-4">
            <img
              class="img-fluid"
              src="{% static 'correspondence/assets/img/illustrations/browser-stats.svg' %}"
              alt="..."
              style="width: 8rem"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-4 col-xl-4 mb-4 col-md-4">
            <div class="card">
              <div class="card-body">
                <div
                  class="card-title row"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Solicitud con autor determinado o determinable,
                      a trav&eacute;s de la cual se da a conocer una inconformidad o 
                      una irredularidad o se formula una petici&oacute;n "
                >
                  <a class="btn col-md-8 d-flex" href="pqrs-type/">
                    <h2 class="text-center m-auto">SOLICITANTE</h2>
                  </a>
                  <div class="col-md-4 d-flex">
                    <i class="m-auto imagerequest" class="m-auto" data-feather="user-check"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-4 mb-4 col-md-4">
            <div class="card">
              <div class="card-body">
                <div
                  class="card-title row"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Es toda solicitud de inter&eacute;s general o 
                  particular en temas de competencia de la entidad xxxx,
                  que puede presentar una persona que no desea identificarse
                  o ser identificada"
                >
                  <a class="btn col-md-8 d-flex">
                    <h2 class="text-center m-auto">SOLICITANTE ANONIMO</h2>
                  </a>
                  <div class="col-md-4 d-flex">
                    <i class="m-auto imagerequest" data-feather="user-x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-4 mb-4 col-md-4">
            <div class="card">
              <div class="card-body">
                <div
                  class="card-title row"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Se considera que la solicitud de la 
                  informaci&oacute;n a realizar pone en riesgo su 
                  integridad o la de su familia, podr&aacute; solicitar 
                  ante el Ministerio publico el procedimiento especial de 
                  solicitud con identificaci&oacute;n reservada"
                >
                  <a class="btn col-md-8 d-flex" target="_blank" href="https://www.procuraduria.gov.co/portal/solicitud_informacion_identificacion_reservada.page">
                    <h2 class="text-center m-auto">IDENTIDAD RESERVADA</h2>
                  </a>
                  <div class="col-md-4 d-flex">
                    <i class="m-auto imagerequest" data-feather="user-minus"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 card" style="height: 30vh">
            <div class="card-body d-flex">
              <h1 class="text-center m-auto">
                {% if rino_parameter %} {{rino_parameter}} {% else %} Add a Message {% endif %}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
