{% extends 'correspondence/main_template.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}

    <div class="card mb-4">
        <div class="card-body">
            <form id="search-form" class="row" 
            action="{% url 'pqrs:consultant_view' %}" method="POST">
                {% csrf_token %}
                <div class="col-md-12 form-group">
                    {{form.key_word.label_tag}}
                    {{form.key_word}}
                </div>
                <div class="col-md-6 form-group">
                    {{form.since.label_tag}}
                    {{form.since}}
                </div>
                <div class="col-md-6 form-group">
                    {{form.until.label_tag}}
                    {{form.until}}
                </div>
                    {{form.limit_finder}}
                    {{form.search_magic_word}}
                <div class="col-md-12 d-flex">
                    <button type="submit" name="submit" class="btn btn-success mx-auto">Buscar</button>
                </div>
            </form>
        </div>
        
    </div>
    
    {% if table %}
    <div class="card mb-4">
        <div class="card-header">Informacion PQRSD</div>
        <div class="card-body overflow-auto">
            <table class="table table-hover nowrap" id="tb_request_sender">
                <thead>
                <tr>
                    <th class="text-dark" scope="col">No. Radicado</th>
                    <th  class="text-dark d-none d-md-table-cell" scope="col">Fecha Radicado</th>
                    <th  class="text-dark" scope="col">Asunto</th>
                    <th  class="text-dark d-none d-md-table-cell" scope="col">Solicitante</th>
                    <th class="text-dark d-none d-md-table-cell"  scope="col">Tipo y Tema PQRSD</th>
                    <th class="text-dark d-none d-md-table-cell"  scope="col">Dias habiles respuesta</th>
                    <th class="text-dark d-none d-md-table-cell"  scope="col">Estado</th>
                    <th  class="text-dark d-none d-md-table-cell" scope="col">Dependencias</th>
                    <th class="text-dark"  scope="col">Detalle</th>
                </tr>
                </thead>
                <tbody>
                    {% for data in table%}
                    <tr>
                        <th>{{data.number}}</th>
                        <th class="d-none d-md-table-cell">{{data.date_radicated}}</th>
                        <th>{{data.subject}}</th>
                        <th class="d-none d-md-table-cell">{{data.person.get_full_name}}</th>
                        <th class="d-none d-md-table-cell">{{data.get_pqrs_type_subtype}}</th>
                        <th class="d-none d-md-table-cell">{{data.subtype.max_response_days}}</th>
                        <th class="d-none d-md-table-cell">{{data.pqrsobject.get_status_display}}</th>
                        <th class="d-none d-md-table-cell">{{data.office.name}}</th>
                        <th>
                            <a class="btn btn-link mx-auto" 
                            href="{% url 'correspondence:detail_radicate_review' pk=data.pk %}">
                                <i data-feather="plus-circle"></i>
                            </a>
                        </th>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div id="containerpersonRequest" class="d-none">
        <div  class="card mb-3">
            <div class="card-header">
                Informaci&oacute;n PQRSD 
                <button class="btn btn-link  ml-5 "
                onclick="$('#containerpersonRequest').addClass('d-none')">
                    <i class="text-danger" data-feather="x-circle"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-sm">
                    <p >
                        <i data-feather="users"></i>
                        <b>Tipo Persona:</b><br />
                        <span id="contTypePerson"></span>
                    </p>
                    <p>
                        <i data-feather="credit-card"></i>
                        <b>Tipo Documento:</b><br />
                        <span id="contDocType"></span>
                    </p>
                    <p id="contMail">
                        <i data-feather="credit-card"></i>
                        <b>Correo electronico:</b><br />
                        <span id="contMail"></span>
                    </p>
                    </div>
                    <div class="col-md-4 text-sm">
                    <p>
                        <i data-feather="user"></i>
                        <b>Nombre y Apellidos:</b><br />
                        <span  id="contNameLastName"></span>
                    </p>
                    <p>
                        <i data-feather="credit-card"></i>
                        <b>Numero de documento:</b><br />
                        <span id="contDocNum"></span>
                    </p>
                    <p >
                        <i data-feather="map-pin"></i>
                        <b>Direcci&oacute;n:</b><br />
                        <span id="contAddress"></span>
                    </p>
                    </div>
                    <div class="col-md-4 text-sm">
                    <p >
                        <i data-feather="calendar"></i>
                        <b>Fecha:</b><br />
                        <span id="contDate"></span>
                    </p>
                    <p >
                        <i data-feather="smartphone"></i>
                        <b>Telef&oacute;no/C&eacute;lular:</b><br />
                        <span id="contPhoneNumber"></span>
                    </p>
                    <p >
                        <i data-feather="compass"></i>
                        <b>Departamento / Municipio: </b><br />
                        <span id="contDepMuni"></span>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block script %}
<script>
$(document).ready(function () {
    $('#div_id_key_word').addClass('col-md-12')
    $('#div_id_since').addClass('col-md-6')
    $('#div_id_until').addClass('col-md-6')
})

</script>
{% endblock %}