{% extends 'pqrs/template.html' %} {% load static %}
<!-- BLOCK Content -->
{% block content %}
<div class="row">
  <div class="col-xl-12 mb-12">
    <div class="card" style="height: 70vh">
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-auto card-icon-aside md-4">
            <i class="feather-xl text-primary mb-3" data-feather="package"></i>
          </div>
          <div class="col">
            <div class="card-body py-5">
              <h1 class="card-title text-primary text-center">RINO PQRDS</h1>
            </div>
          </div>
          <div class="col-md-4">
            <img
              class="img-fluid"
              src="{% static 'correspondence/assets/img/illustrations/browser-stats.svg' %}"
              alt="..."
              style="width: 8rem"
            />
          </div>
        </div>
        {% if types %}
        <div class="row">
          {% for type in types %}
          <div class="col-xxl-4 col-xl-4 col-md-4 my-4">
            <div class="card">
              <div class="card-body">
                <div
                  class="card-title row"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="{{type.description}}"
                >
                  <a
                    class="btn col-8 d-flex"
                    href="{% url 'pqrs:search_person' %}"
                  >
                    <h2 class="text-center m-auto">{{type.name}}</h2>
                  </a>
                  <div class="col-4">
                    <i
                      style="width: 100%; height: 100%"
                      data-feather="{{type.asociated_icon}}"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <h1>Upss Algo Paso</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
