{% extends 'pqrs/template.html' %}
{% block content %}
<div class="card mb-4">
    <div class="card-header">Tipos de PQRS</div>
    <div class="card-body">
        <div class="row justify-content-center">
            <!-- PQRS Persona Natural -->
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 mt-4">
                <div class="card text-center h-100">
                    <div class="card-body px-5 pt-5 d-flex flex-column">
                        <div>
                            <div class="h3 text-primary font-weight-300">PQRS Persona Natural</div>
                            <p class="text-muted mb-4">Cree una PQRS a título Personal, nombre propio</p>
                        </div>
                        <div class="icons-org-create align-items-center mx-auto mt-auto">
                            <i class="icon-users" data-feather="users"></i>
                            <i class="icon-plus fas fa-plus"></i>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent px-5 py-4">
                        <div class="small text-center"><a class="btn btn-block btn-primary" href="multi-tenant-create.html">Persona Natural</a></div>
                    </div>
                </div>
            </div>
            <!-- PQRS Persona Jurídica -->
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 mt-4">
                <div class="card text-center h-100">
                    <div class="card-body px-5 pt-5 d-flex flex-column align-items-between">
                        <div>
                            <div class="h3 text-primary font-weight-300">PQRS Persona Jurídica</div>
                            <p class="text-muted mb-4">Cree una PQRS como representante legal de una Persona Jurídica</p>
                        </div>
                        <div class="icons-org-create align-items-center mx-auto">
                            <i class="icon-users" data-feather="user"></i>
                            <i class="icon-arrow fas fa-long-arrow-alt-right"></i>
                            <i class="icon-users" data-feather="users"></i>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent px-5 py-4">
                        <div class="small text-center"><a class="btn btn-block btn-primary" href="multi-tenant-join.html">Persona Jurídica</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 mt-4">
                <div class="card text-center h-100">
                    <div class="card-body px-5 pt-5 d-flex flex-column align-items-between">
                        <div>
                            <div class="h3 text-secondary font-weight-300">PQRS Anónima</div>
                            <p class="text-muted mb-4">Cree una PQRS de forma anónima</p>
                        </div>
                        <div class="icons-org-join align-items-center mx-auto">
                            <i class="icon-user" data-feather="eye-off"></i>
                            <i class="icon-arrow fas fa-long-arrow-alt-right"></i>
                            <i class="icon-users" data-feather="users"></i>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent px-5 py-4">
                        <div class="small text-center"><a class="btn btn-block btn-secondary" href="multi-tenant-join.html">Anónima</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}